# Chapter 01. 데이터

In [1]:
import pandas as pd

In [7]:
!cd

C:\Users\dltmf\Documents\python_stat_analysis

In [9]:
df = pd.read_csv('./python_stat_sample-master/data/ch1_sport_test.csv', index_col = '학생번호')
df    # DataFrame

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10
3      1  28.8      27  11   7
4      2  39.0      27  14   5
5      2  50.9      32  17   2
6      2  36.5      20   9   9
7      3  36.6      31  13   6
8      3  49.2      37  18   1
9      3  26.0      28  10   8
10     3  47.4      32  16   3

In [10]:
# '악력' 열 추출
df['악력']          # Series

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

In [11]:
type(df), type(df['악력'])

(pandas.core.frame.DataFrame, pandas.core.series.Series)

## 1.1 데이터 크기

In [12]:
df.shape

(10, 5)

## 1.2 변수의 종류

### 1.2.1 질적 변수 vs 양적 변수
- 질적 변수 : 종류를 구별하기 위한 변수 (1.매우좋음/2.좋음/.../4.나쁨/5.매우나쁨, A형/B형/O형/AB형)
    - 2진변수 : 남성/여성, 흡연 여부 등 값이 2개뿐인 질적 변수
- 양적 변수 : 시험 점수나 신장과 같이 양을 표현하는 변수
    - 수치 변수라고 해서 무조건 양적 변수인 것은 아님 주의
    
### 1.2.2 척도 수준
- 질적 변수
    - 명의 척도 : 단순히 분류하기 위한 변수로 변수의 동일성 여부에만 의미를 둠
        - 예) 학생번호, 전화번호, 성별 등
        - 대소 관계 및 연산 의미 없음
    - 순서 척도 : 순서 관계나 대소 관계에 의미가 있는 변수
        - 예) 성적 순위, 설문조사의 만족도 등
        - 대소 관계 O, 연산 X
- 양적 변수
    - 간격 척도 : 대소 관계와 함께 그 차이에도 의미를 두는 변수
        - 예) 연도, 온도 등
        - 대소 관계 O, 합/차 의미 O, 곱하고 나누는 것에 대한 의미는 없음
        - 0이 '없음'을 나타내지 않음
    - 비례 척도 : 대소 관계, 차이, 비 모두에 의미가 있는 변수
        - 예) 길이, 무게 등
        - 0이 '없음'을 나타냄

### 1.2.3 이산형 변수 vs 연속형 변수
- 이산형 변수 : 0, 1, 2, ... 와 같이 하나하나의 값을 취하는 변수
- 연속형 변수 : 연속적인 값을 취할 수 있는 변수